<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
{% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
{% if page.author %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.owner %}
{% endif %}

{% include _open-graph.html %}

{% if site.owner.google.verify %}<!-- Webmaster Tools verfication -->
<meta name="google-site-verification" content="{{ site.owner.google.verify }}">{% endif %}
{% if site.owner.bing-verify %}<meta name="msvalidate.01" content="{{ site.owner.bing-verify }}">{% endif %}

{% capture canonical %}{{ page.url | absolute_url }}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">
<link href="{{ '/feed.xml' | relative_url }}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<meta http-equiv="cleartype" content="on">

<!-- HTML5 Shiv and Media Query Support -->
<!--[if lt IE 9]>
  <script src="{{ '/assets/js/vendor/html5shiv.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/vendor/respond.min.js' | relative_url }}"></script>
<![endif]-->

<!-- Modernizr -->
<script src="{{ '/assets/js/vendor/modernizr-2.7.1.custom.min.js' | relative_url }}"></script>

<link href="//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700%7CPT+Serif:400,700,400italic" rel="stylesheet" type="text/css">

<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ '/images/favicon.ico' | relative_url }}">
<!-- 32x32 -->
<link rel="shortcut icon" href="{{ '/images/favicon.png' | relative_url }}">
<!-- 57x57 -->
<link rel="apple-touch-icon-precomposed" href="{{ '/images/apple-touch-icon-precomposed.png' | relative_url }}">
<!-- 72x72 -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ '/images/apple-touch-icon-72x72-precomposed.png' | relative_url }}">
<!-- 114x114 -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ '/images/apple-touch-icon-114x114-precomposed.png' | relative_url }}">
<!-- 144x144 -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/images/apple-touch-icon-144x144-precomposed.png' | relative_url }}">
